{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    {{ parent() }}

    {% block topdata_demoshop_switcher_toggle_buttons %}
        <div style="border: 0px solid red; float: right;">

            <div class="btn-group ">
                {% for d in page.TopdataDemoshopSwitcherSW6_domains %}
                    <a
                            href="{{ d.href }}"
                            class="btn btn-sm btn-primary
                            {% if d.active %}active{% endif %}"
                            title="{{ d.name }}"
                    >
                        {{ d.label }}
                    </a>
                {% endfor %}

            </div>
        </div>
    {% endblock %}

{% endblock %}
